{% extends 'eng/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="#" class="my-subcategory list-group-item">ALL PRODUCTS</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">COLLARS</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">LEASHES</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">HARNESSES</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">BOWS</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">TIES</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">ID TAGS</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">DOG CARRIER</a>


            </div>
        </div>

{% endblock %}