.my-language {
  background-color: #202c2f;
  padding-top: 1%;
  padding-bottom: 1%;
}
.my-language ul {
  list-style: none;
  margin: auto;
  width: 100%;
  padding-left: 90% !important;
}
.my-language ul li {
  display: inline !important;
  width: 20%;
  margin-left: 1%;
  margin-right: 1%;
}
.my-language ul li a {
  width: 100%;
  color: #fffcf6 !important;
  font-family: Calibri !important;
}
.my-brand {
  background-color: #feffff;
}
.my-logo {
  width: 30%;
  height: 55%;
}
.my-logo-togg {
  width: 100%;
  height: 100%;
}
.my-menu {
  width: 100%;
  margin: 0%;
  text-align: center;
}
.my-menu li {
  background-color: #feffff !important;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.my-menu li a {
  padding-top: 0;
  padding-bottom: 5%;
}
.my-hr {
  border-bottom-style: solid;
  border-bottom-width: medium;
}
.my-container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.my-row {
  background-color: #feffff;
  margin-right: 0;
  margin-left: 0;
}
.my-dropdown-content {
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  z-index: 1;
  padding-bottom: 0;
}
.my-menu-item:hover .my-dropdown-content {
  display: none;
}
.my-dropdown-contennt-container {
  background-color: #feffff;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
.my-dropdown-menu {
  text-align: center;
}
.my-dropdown-menu li {
  background-color: #feffff !important;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 12.5%;
}
.my-dropdown-menu li a {
  padding: 0;
  font-size: 0.9em !important;
}
.my-dropdown-menu li a img {
  width: 100%;
  height: 100%;
}
.my-home-box {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #feffff;
}
.my-category-box {
  width: 80%;
  height: 130px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.my-subcategory-div {
  height: 100%;
  border-right-style: solid;
  border-right-width: 0.5px;
  background-color: #feffff;
}
.my-subcategory-div a {
  margin-top: 5%;
  border: none;
}
.my-down-menu {
  background-color: #202c2f;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  color: #fffcf6 !important;
}
.my-down-menu a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: #fffcf6 !important;
  font-family: Calibri !important;
}
.my-down-menu p {
  color: #fffcf6 !important;
  padding-bottom: 0.5% !important;
  font-size: 1em;
}
.my-footer {
  text-align: center;
}
.my-product-image {
  min-width: 300px;
  min-height: 400px;
  max-width: 300px;
  max-height: 400px;
}
.my-pagination {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 1%;
}
.my-pagination a {
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  color: #777777 !important;
  font-family: Calibri !important;
  font-size: 1.5em;
}
