{% extends 'srp/base.html.twig' %}

{% block body %}

            <div class="box">

                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-1.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-2.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-3.jpg') }}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Dobrodošli u</small>
                    </h2>
                    <h1 class="brand-name">Mr and Mrs Pet</h1>

                </div>

                <div class="my-row row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong>POSETITE NAS</strong>
                            </h2>
                            <hr>
                            <p>Mr. & Mrs. Pet je srpski brend, pokrenut u jesen 2016 godine, nudeći predivne modne komade odeće, kao I liniju kreveta, činija I ogrlica za pse. </p>

                             <p>   Želeli smo da stvorimo brend koji je usmeren na pse, kako bi izgledali šik I trendi kao I njihovi vlasnici, ali takodje da im bude toplo I udobdno
                                 u svako doba godine. Svaki komad je kreiran pod uticajem aktuelnih modnih trendova, inspirisan odećom koju želimo da imamo za sebe.    </p>
                             <p>   Naš cilj je da se naši klijenti uvek osećaju zadovoljno I lepo u našim kreacijama, jer nista nam ne dodnosi više radosti nego da vidimo naše proizvode
                                 na vašim kućnim ljubimcima.
                              </p>
                            <p>
                                Nismo zaboravili ni gde spavaju naše kuce, zato smo za njih pripremili udobne mekane krevete,
                              kao I specijalnu kolekciju luksuznih kreveta I činija za uređenje doma.
                            </p>
                            <p>
                                Za nas Mr. & Mrs. Pet nije samo brend, to je način života za vašeg ljubimca I mi vam obećavamo da ćemo nastaviti da se trudimo I donosimo najlepše proizvode…
                                i mi vam se zahvaljujemo unapred za nastavak širenja Mr. & Mrs. Pet Ljubavi!
                            </p>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}


