{% extends 'srp/categoryTemplate.html.twig' %}

{% block menu %}



        <div class="col-md-3">

            <div class=" my-subcategory-div list-group">

                <a href="#" class="my-subcategory list-group-item">SVI PROIZVODI</a>
                <hr style="margin-right: 10%;"/>
                <a href="#" class="my-subcategory list-group-item">SPECIJALNA KOLEKCIJA</a>



            </div>
        </div>

{% endblock %}