{% extends 'eng/base.html.twig' %}

{% block body %}

            <div class="box">

                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-1.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-2.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-3.jpg') }}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small> Welcome </small>
                    </h2>
                    <h1 class="brand-name">Mr and Mrs Pet</h1>

                </div>

                <div class="my-row row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong>VISIT US</strong>
                            </h2>
                            <hr>
                            <p>The Serbian label Mr. & Mrs. Pet, launched in Autum of 2016 offering gorgeous fashion clothes, collars, bedding and feeding line for the dog. </p>

                            <p>  We wanted to create a brand that focused on dogs looking as chic and trendy as their owners, as well as keeping them warm and comfortable at all times of the year. Each piece is influenced by current fashion trends, as well as inspired by the clothes we want to have ourselves.
                            </p>
                            <p>  Our goal is to make our clients feel satisfied and always nice in our creations, because nothing brings more joy to see one of our products on your pets.

                            </p>
                            <p>
                                We have not forgotten where our dogs sleep, so we have prepared for them a comfortable soft beds, as well as a special collection of luxury beds and bowls for home furnishing.
                            </p>
                            <p>
                                For us Mr. & Mrs. Pet isn't just a brand, it's a lifestyle for your pet and we promise we are going to keep pushing and bringing  you the most beautiful products... and we thank you in advance for continuing to Spread the Mr. & Mrs. Pet Love!
                            </p>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}


