{% extends 'eng/base.html.twig' %}

{% block body %}

            <div class="my-row row">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="my-home-box" src="http://www.queeky.com/share/drawings/anime/120700/anime-dog.jpg "/>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img class="my-home-box" src="http://cdn01.pelfusion.com/wp-content/uploads/2013/02/1.png"/>
                </div>
             </div>
{% endblock %}



