{% extends 'eng/base.html.twig' %}

{% block body %}

            <div class="my-row row">

                <div class="col-md-offset-2 col-md-4 col-sm-4 col-xs-12">
                    <img class="my-home-box" src="{{ asset('img/kuc.jpg') }}"/>
                </div>

                <div class="col-md-offset-0 col-md-4 col-sm-4 col-xs-12">
                    <img class="my-home-box" src="{{ asset('img/mac.jpg') }}"/>
                </div>

             </div>
{% endblock %}



